<nav class="nav">
   <button class="nav-menu"><i class="fas fa-bars nav-icon"></i></button>
      <form class="nav-searcher-form">
        <input class="nav-searcher-input" type="text" placeholder="Search" name="search" [(ngModel)]="inputArtist" (keyup.enter)="searchArtist()">
        <button class="nav-searcher-bttn" type="submit" (click)="searchArtist()">
          <i class="fas fa-search nav-icon"></i>
        </button>
      </form>
        <i class="fas fa-heart nav-icon"><div class="fav-counter">{{getFavourites()}}</div></i>
  </nav>