

.nav {
    background: #76b3c8;
    display: flex;
    flex-flow: row wrap;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 1px 10px rgb(197, 197, 197);
}

.nav-icon {
    color: white;
    font-size: 1.8rem;
}

/* MENU  */
.nav-menu {
    flex-grow: 1;
    background: none;
    border: none;
}

/* SEARCHER */
.nav-searcher-form {
    flex-grow: 8;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
}

/* Searcher input */
.nav-searcher-input {
    background: #669cad; 
    border: none;
    width: 250px;
    padding: 10px 10px;
    color: white;
    border-radius: 3px;
}

.nav-searcher-input:hover {
    background: #5c99af; 
}

.nav-searcher-input::placeholder {
    color:white;
    font-size: 1.2rem;
    opacity: 0.8;
    font-family: Arial, Helvetica, sans-serif;
}

/* Searcher bttn */
.nav-searcher-bttn {
    background: #69abc3; 
    padding: 2px 0px;
    background: none;
    border: none;
    position: absolute;
    left: 240px;
}

.nav-fav {
    flex-grow: 1;
}

/* fav Counter */
.fav-counter {
    width: 14px;
    height: 14px;
    background: grey;
    border-radius: 50%;
    font-weight: 500;
    text-align: center;
    font-size: 1.2rem;
    position: absolute;
    top: 12px;
    right: 4px;
}
